:root {
    --width: 21rem;
    --height: 25rem;
    --fsz: 1.3rem;
}

html {
    /* background: #232627; */
    background: black;
    height: var(--height);
    width: var(--width);
}

#console {
    max-height: 23.5rem;
    overflow: auto;
    width: 19.5rem;
    margin-left: auto;
    margin-right: auto;
}

#console::-webkit-scrollbar {
    display: none;
}

.console-begin-char {
    vertical-align: top;
    display: inline-block;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1rem;
    padding-top: 0.25rem;
}

.console-text {
    width: 17rem;
    height: var(--fsz);

    color: #1fd655;
    font-family: 'VT323', monospace;
    font-size: var(--fsz);
    background-color: black;

    outline: none;
    border: none;
    box-shadow: none;
    resize: none;
    overflow-y: hidden;
}

.respond-console-text {
    width: 17rem;
    height: var(--fsz);

    color: #ea5252;
    font-family: 'VT323', monospace;
    font-size: var(--fsz);
    background-color: black;

    outline: none;
    border: none;
    box-shadow: none;
    resize: none;
    overflow-y: hidden;
}