html {
    background: #232627;
    height: 20rem;
    width: 16rem;
}

#console {
    max-height: 19rem;
    overflow: auto;
}

#console::-webkit-scrollbar {
    display: none;
}

.console-begin-char {
    vertical-align: top;
    display: inline-block;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-size: 0.75rem;
    padding-top: 0.25rem;
}

.console-text {
    width: 12rem;
    height: 1.2rem;

    color: #188d77;
    font-family: 'VT323', monospace;
    font-size: 1.2rem;
    background-color: #232627;

    outline: none;
    border: none;
    box-shadow: none;
    resize: none;
    overflow-y: hidden;
}

.respond-console-text {
    width: 12rem;
    height: 1.2rem;

    color: #962a2a;
    font-family: 'VT323', monospace;
    font-size: 1.2rem;
    background-color: #232627;

    outline: none;
    border: none;
    box-shadow: none;
    resize: none;
    overflow-y: hidden;
}