html {
    background: #232627;
    height: 18rem;
    width: 15rem;
}

#console {
    max-height: 18rem;
    overflow: auto;
}

.console-begin-char {
    display: inline;
    color: white;
}

.console-text {
    color: #188d77;
    font-family: 'VT323', monospace;
    font-size: 1rem;
    border: none;
    outline: none;
    background-color: #232627;
}